@media  (max-width: 1124px) {

}
@media (min-width:1024px) and (max-width: 1179px) {
  #services-page .card p {
    font-size: 13px !important;
  }
}

@media (max-width: 1023px) {
  #hero-section .half-circle {
     margin: 0;
  }
  #hero-section .logo-icon img {
    width: 70%;
  }
  #hero-section .detail-text {
     border-left: 0;
  }
  #hero-section .detail-text h2 {
    font-size: 30px;
    line-height: 40px;    
  }
  #hero-section .tab-content.active {
    display: block;
  }
  #hero-section .tab-icon img{
    width: 30%;
  }
}

@media (max-width: 992px) {
 #about-section .left-cnt::before,
 #about-section .left-cnt::after {
    content:inherit;
 }
 #innerhero-section.contact-page h1 {
   letter-spacing: 5px;
 }
 
}

@media (max-width: 767px) {
  #hero-section .banner-wrapper.second-banner {
    padding: 40px 0;
  } 
  #hero-section .banner-wrapper.second-banner .right-cnt {
    display: none;
  }
  #hero-section .detail-text {
    border-left: 0;
    font-size: 16px;
    line-height: 24px;
  } 
  .text-cnt h2 {
    margin-bottom: 20px;
  }
  
  #innerhero-section.contact-page h1 {
    letter-spacing: 0px;
  }

  #our-teams .slick-prev, #our-teams .slick-next {
    top: 50%;
    transform: translateY(-50%);
}
  #contact-section .contact-wrapper h2 {
    font-size: 50px;
   letter-spacing: 5px;
  }
  #review-section .slick-list.draggable {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  } 
  #review-section .card-body {
    padding: 30px 20px 80px;
  } 
}

@media (max-width: 600px) {
 #review-section .slick-prev, #review-section .slick-next {
    top: auto;
    transform: inherit;
    bottom: 9%;

 }
}

@media (max-width: 479px) {
  header .btn {
    padding: 3px 7px;
    font-size: 12px;
  } 
  #hero-section .banner-wrapper.first-banner .right-cnt {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #hero-section .banner-wrapper.first-banner .left-cnt{
    position: absolute;
    width: 50%;
    left: 0;
  }  
  
}