$font-Montserrat:"Montserrat", sans-serif;
$header-bg:#BCDCF5;
$primary-clr:#034EA2;
$white: #ffffff;
$black:#000;
$light-blue:#44C8F5;
$tag-clr:#3A58A2;
$text-clr:#675858;
$blue-brd:#00AAFF;
$bg-clr : #DEDEDE;
$dark-gray:#383938;
$hover-blue:#35A8E0B2;
$bg-clr:#0F5FB8;
$green:#04FF3A;
$pink:#F204FF;
$orange:#FF8800;
$blue:#04EEFF;
$brd-gray:#EDEDED;


$brd-blue: #0f68fe;
$btn-text:#054bc0;
$main-clr:#0f67fd;
$light-gray:#F5F2F2;


$primary-brd-clr:#8ad6f8;
$media-clr:#dcf5ff;

// $primary-clr-hover:#0043FF;
// $secondary-clr:#ED1B28;
// $secondary-clr-hover:#FF0010;








