@import "../variables.scss";
header  {
    position: fixed;
    padding: 16px 0;
    width: 100%;
    z-index: 99;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;  
    // background: $header-bg; 
    &.banner-active {
        .logo  {
            display: none;
            transition: all 0.3s ease;
        }
    }
    .btn {
        padding: 3px 11px; 
        color: $primary-clr; 
        color: $white;
        border: 1px solid $white;
        &:hover {
            background: $primary-clr;
            border-color:  $primary-clr;
        }     
    }
    .btn-primary {
        background: transparent;
    }
    .hamburger {
        width: 18px;
        height: 18px;
        -webkit-transition: all 0.25s;
        -moz-transition: all 0.25s;
        -ms-transition: all 0.25s;
        -o-transition: all 0.25s;
        transition: all 0.25s;
        position: relative;
        .top-bun,
        .middle-bun,
        .bottom-bun {
            content: '';
            position: absolute;
            width: 18px;
            height: 2px;
            background:  $white;
            transform: rotate(0);
            transition: all 0.5s;
            right: 0;
        }
        .top-bun {
            transform: translateY(-5px);
        }
        .middle-bun {
            transform: translateY(3px);
        }
        .bottom-bun {
            transform: translateY(11px);
        }
        &.open {
            transform: rotate(90deg);
            transform: translateY(-1px);
            .top-bun {
                transform:
                    rotate(45deg)
                    translateY(4px);
            }
            .middle-bun {
                display: none;
            }
            .bottom-bun {
                transform:
                    rotate(-45deg)
                    translatex(-4px);
            }
        }
    }
    .menu {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 350px;
        background-color: $bg-clr;
        box-shadow: 0px 0 13px rgba(0,0,0,0.5);
        transition: transform 0.3s ease-out;
        z-index: -1;
        padding: 65px 30px;
        &.is-hidden {
            transform: translateX(400px);
        }
        a {
            color: $white;
            transition: transform 0.3s ease-out;
             &:hover {
               color: $light-blue;
            }
        }
        li {
            a {
                text-transform: uppercase;
                font-weight: 700;
            }           
        }
    }
    .address-cnt {
        border-top: 1px solid $white;
        i {
            font-size: 20px;
        }
    }
}
    



