@import "variables";
#hero-section{
  overflow: hidden;
  .container {
    padding-top: 97px; 
  }
  .logo-icon {
    img {
      width: 40%;
    }
  }
  .detail-text {
    font-size: 18px;
    font-weight: 500;
    color: $white;
    line-height: 28px;
    transition: all 0.45s ease-in-out;
    border-left: 1px solid $light-blue;
    h2 {    
      span{
        color: $light-blue;
      }
    }
    .btn {
      padding: 3px 11px;
    }
  }
  .banner-wrapper {
      &.hidden {
        display: none;
    }
  }
  .tab-content {
    display: none;
    align-items: center;
    &.active {
      display: flex;
    }
  }
  .half-circle {
    width: 260px;
    height: 520px;
    margin-left: -30%;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 260px;
      height: 520px;
      border-radius: 0 100% 100% 0 / 0 50% 50% 0;
      border-width: 2px 2px 2px 0;
      border-style: dashed;
      border-color: #fff;
      opacity: 0.4;
    }
  }
  .second-half {
    width: 165px;
    height: 330px;
    border-radius: 0 100% 100% 0 / 0 50% 50% 0;
    z-index: 9;
    border-width: 2px 2px 2px 0;
    border-style: dashed;
    border-color: #fff;
    opacity: 0.4;
  }
  
  /* Tab buttons */
  .tab-button {
    position: absolute !important;
    cursor: pointer;
    width: 34%;
    transform-origin: center;
    transition: all 0.6s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    img {
      opacity: 0.4;
      transition: all 0.6s ease-in-out;
      width:70%;
    }
    &:hover {
      img {
        transform: scale(1.1);
        opacity: 1;
      }
    }
    &.active {
      display: none;
    }
  }
  
  .first-banner  {
    .tab-button.active {
      display: block;
    }
    .tab-button {
      &:nth-child(1) {
        left: 0%;
        top: 3%;
      }
      &:nth-child(2) {
        left: 33%;
        top: 10%;
      }
      &:nth-child(3) {
        right: 9%;
        top: 25%; 
      }
      &:nth-child(4) {
        right: -2%;
        top: 50%;
        transform: translateY(-50%); 
      }
      &:nth-child(5) {
        right: 6%;
        bottom: 26%;
      }
      &:nth-child(6) {
        right: 31%;
        bottom: 12%;
      }
      &:nth-child(7) {
        left: 0%;
        bottom: 4%;
      }
    }
  }
 
  .tab-button {
    &:nth-child(2) {
      left: 0%;
      top: 3%;
    }  
    &:nth-child(3) {
      right: 30%;
      top: 13%;
    } 
    &:nth-child(4) {
      right: 2%;
      top: 32%;
    } 
    &:nth-child(5) {
      right: 1%;
      bottom: 34%;
    }  
    &:nth-child(6) {
      right: 23%;
      bottom: 15%;
    } 
    &:nth-child(7) {
      left: 0;
      bottom: 4%;
    }                                    
  }
  
        
}



























