#our-Portfolio {
  padding: 80px 0; }
  #our-Portfolio .card {
    position: relative;
    overflow: hidden; }
    #our-Portfolio .card:nth-child(7) .slide-up, #our-Portfolio .card:nth-child(8) .slide-up, #our-Portfolio .card:nth-child(9) .slide-up, #our-Portfolio .card:nth-child(10) .slide-up, #our-Portfolio .card:nth-child(11) .slide-up, #our-Portfolio .card:nth-child(12) .slide-up {
      transition-delay: 0.2s; }
    #our-Portfolio .card .card-img {
      height: 100%; }
      #our-Portfolio .card .card-img img {
        height: 100%; }
    #our-Portfolio .card .card-body {
      background-color: #35A8E0B2;
      color: #ffffff;
      position: absolute;
      left: 50%;
      top: 50%;
      height: 100%;
      width: 100%;
      transform: translate(-50%, -50%);
      opacity: 0;
      -wekiyt-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out; }
      #our-Portfolio .card .card-body h4 {
        line-height: 22px; }
    #our-Portfolio .card:hover .card-body {
      opacity: 1; }
  #our-Portfolio .view-btn.slide-up {
    transition-delay: 0.4s; }

/** review-section **/
#review-section {
  padding: 60px 0;
  background-color: #0F5FB8; }
  #review-section h2 {
    color: #ffffff; }
  #review-section .card-body {
    padding: 30px 30px 80px;
    background-color: #ffffff; }
    #review-section .card-body .text-cnt {
      width: 100%;
      max-width: 700px;
      margin: 0 auto;
      color: #034EA2; }
  #review-section .star-icon {
    font-size: 16px;
    color: #0F5FB8; }
  #review-section .profile-img {
    margin-top: -3%; }
  #review-section .details {
    color: #ffffff; }
  #review-section .slick-slider.slide-up {
    transition-delay: 0.2s; }
  #review-section .slick-list.draggable {
    width: 100%;
    max-width: 790px;
    margin: 0 auto; }
  #review-section .slick-prev,
  #review-section .slick-next {
    top: 33%;
    transform: translateX(-33%); }
  #review-section .slick-next::before {
    content: url(../../images/Next.png); }
  #review-section .slick-prev::before {
    content: url(../../images/preview.png); }

/** record-section **/
#record-section {
  padding: 80px 0; }
  #record-section .card {
    box-shadow: 1px 0 13px rgba(0, 0, 0, 0.2);
    border: 1px solid #EDEDED;
    border-radius: 10px;
    transition: all 0.8s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    background-color: #ffffff; }
  #record-section .card:nth-child(1) {
    opacity: 0;
    transform: translateX(300px) translateY(0px) scale(0.95); }
  #record-section .card:nth-child(2) {
    transform: translateY(0) scale(1);
    position: relative;
    opacity: 1;
    transform: translateY(0) scale(1); }
  #record-section .card:nth-child(3) {
    opacity: 0;
    transform: translateX(-300px) translateY(0px) scale(0.95);
    z-index: -1; }
  #record-section .card:nth-child(1).active,
  #record-section .card:nth-child(3).active {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1); }
  #record-section .text h4 {
    color: #034EA2; }
  #record-section .post {
    color: #000; }
  #record-section .card-body {
    background-color: #0F5FB8;
    border-radius: 10px;
    color: #ffffff; }
  #record-section .bar {
    height: 10px;
    background-color: #ffffff;
    overflow: hidden; }
  #record-section .bar-btn {
    background-color: #04FF3A;
    height: 10px;
    width: 0%;
    transition: width 1.5s ease-in-out 0.5s; }
  #record-section .percentage {
    color: #04FF3A; }

/** technology-section **/
#technology-section {
  background-color: #E6F2FF;
  padding: 50px 0; }
  #technology-section .top-text {
    color: #44C8F5;
    margin-bottom: 16px; }
  #technology-section .card {
    background-color: #ffffff; }
    #technology-section .card img {
      width: 80%;
      -wekiyt-transition: all 0.6s ease-in-out;
      transition: all 0.6s ease-in-out;
      -moz-transition: all 0.6s ease-in-out;
      -ms-transition: all 0.6s ease-in-out;
      -o-transition: all 0.6s ease-in-out; }
    #technology-section .card:hover img {
      transform: scale(1.5);
      margin-top: -50%; }

/*# sourceMappingURL=portfolioPages.css.map */
